/PrimeiroPrograma/target/
/HoraDoSistema/target/
/IdiomaSistema/target/
/ResolucaoTela/target/
/TiposPrimitivos/target/
/TesteTipos/target/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/OlaMundoSwing/nbproject/private/
/OlaMundoSwing/build/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/IdiomaSistemaSwing/nbproject/private/
/IdiomaSistemaSwing/build/
/ResolucaoTelaSwing/nbproject/private/
/ResolucaoTelaSwing/build/
/calculadoraIdade/nbproject/private/
/calculadoraIdade/build/
/OperadoresAritmeticos/target/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/ClasseSwing/nbproject/private/
/ClasseSwing/build/
/SuperCalculadora/nbproject/private/
/SuperCalculadora/build/
